API_ID=29555662
API_HASH=d5420764bf458365083a59c70748e907
BOT_TOKEN=8491473656:AAEPoNJB5JAhEj0OticRnEQU_znLd8zsBLA
LOGGER_ID=-1002321714948
MONGO_DB_URI=mongodb+srv://choudhurytahir115_db_user:choudhurytahir115_db_user@cluster0.9zqwqx6.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=7265739086
STRING_SESSION=BQHC-84AoQwE9D51ZYLERE5FrtT2ItyC-vqECvjIcugzGf4cTcmvCzLYG59cynCFHDgXRAvDVu-EvHYfQZ8KlzFfNs3nuKgCKl8oAJWRKBXGlc3n0ZohSNXTkGraEzij5hJUjwQa-woRr3vq3xBEePHCTSyHXKnIASw3KY5k-BWOcw1NqaTAXcMyz3phDuD0S3SLY3HiNtaQTVCavv7JhYVT_3ZYDkep4mARzTExi7w2aKMXHWZpI0K29IvrRtJlu_0e-R2MbZyTkGCjSM1IT8fIhL4t91YmzspeRRnnrMCuEPQ7RWmAl9aVkYGy0r4HTkmYk0_s-2YRU-c-cgDGNdSlejig1wAAAAHpkGVvAA
