API_ID=29555662
API_HASH=d5420764bf458365083a59c70748e907
BOT_TOKEN=8491473656:AAEPoNJB5JAhEj0OticRnEQU_znLd8zsBLA
LOGGER_ID=-1002321714948
MONGO_DB_URI=mongodb+srv://choudhurytahir115_db_user:choudhurytahir115_db_user@cluster0.9zqwqx6.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=7265739086
STRING_SESSION=BQHC-84AZwG19XRVySjkQB67jF9znozF2K1YIvYAzBlv7gcl3n4J3IufrrAd1gY9StVhPkYMtAxhMk0qfQjvs9SUypjMpW26XS9BmOyOvQjJFNyPHpGyX7SQ3tTAs3N_kgvEDb0fjXGs1EViXC6LSswFe9BzSjjMvW7KuHNF-NuxN0LBo4w0HokZWsUoE0f7qF_waiw1NMQTBAyYztFF3N3xFN0B_pvZHywNcWqc6nr-yqvYA044w_562MksLNiWCXaJHbK6X225Dni4C4ph47FilTeXJfs77unig1FXbOC2CEhtSb1JtqWVm_NzD1tHJrVVa8OGjqEct_qOQok9rJ3s9kzD2wAAAAHpkGVvAA
